html, body {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #DADEDF; /* other color rgb(88, 84, 84) #ecf0f1;*/
  color: #ecf0f1;
}

p {
  line-height: 1.5em;
  letter-spacing: .055em;
}

img {
  max-width: 100%;
  -moz-box-shadow:    1px 1px 5px 1px #868686;
  -webkit-box-shadow: 1px 1px 5px 1px #868686;
  box-shadow:         1px 1px 5px 1px #868686;
  

}

a {
  color: rgb(172, 172, 172);
}

a:hover {
  color:rgb(201, 201, 201);
}


/*main container*/
#container {
  width: 100%;
  float: left;
  text-align: center;
}

#container h1 {
  font-size: 3.7em;
  margin-top: 2em;
  margin-bottom: .2em;
}


/*about */
#about {
  min-height: 50em;
  width: 100%;
  float: left;
  background-color: #222;
  -moz-box-shadow:    1px 1px 5px 1px #ccc;
  -webkit-box-shadow: 1px 1px 5px 1px #ccc;
  box-shadow:         1px 1px 5px 1px #ccc;
}

#about div:nth-child(1) {
  margin-bottom: 2em;
}
#about div:nth-child(2) {
  margin: 0 auto;
  width: 50%;
}

#about div:nth-child(2) p{
  margin-top: 1em;
  line-height: 1.5em;
}

#about div:nth-child(3) {
  margin: 4em 0 8em 0;
}

#about div:nth-child(3) a:nth-child(2){
  margin: 0 3.4em 0 2.5em;
}

/* portfolio container*/

#portfolio {
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 1em;
}
#portfolio h1{
  margin: 1em;
  color: #222;
}

/*full projec title */

.fa-arrow-circle-down {
  cursor: pointer;
  color: rgb(172, 172, 172);
}

.fa-arrow-circle-down:hover {
  color: rgb(201, 201, 201);
}

.well{
  display: inline-block;
  width: 33%;
  margin: 1em;
  padding: .5em;
  background-color: #DADEDF;
  cursor: pointer;
  color: black;
}

.well div:nth-child(2) p {
  margin-top: 1em;
  font-weight: 600;
}

.info {
  padding-top: 1em;
  height: 3em;
  
}
.info div {
  display: inline-block;
}

.info div:nth-child(1) {
  float:left;
}


/*well arrow*/
.info div:nth-child(2) {
  float:right;
}
.fa-chevron-right {
  float: right;
  color: rgb(201, 201, 201);
}

/*full project */
.full-project {
  width: 100%;
  min-height: 40em;
  background-color: #222;
}

.project-title {
  float: left;
  width: 100%;
}

.project-title h1{
  color: white !important;
  margin: 1em 0 .5em 0 !important;
}

.well-gray {
  display: inline-block;
  width: 33%;
  margin: 1em;
  padding: .5em;
  background-color: white;
  background-color: #222;
}

.well-gray div:nth-child(1) img {
  box-shadow: none;

}

.project-description p {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2em;
}

.full-project {
  display: none;
}

footer {
  margin: 0 auto;
  float: left;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
}
